$color: #fff;

#react-container{
    color:$color;
}
.question-choice {
    display :flex;
    flex-flow:'row wrap';
    width:100%;
    margin: 30px auto 30px;
}
.question-radio {
    flex-grow : 1;
    
          
}
.question-text{flex-grow:3;}

.question-tab {
    margin: 5% 10%;
}